@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

* {
  box-sizing: border-box;
}
:root {
  /* default theme 1 */
  --main-background: hsl(222, 26%, 31%);
  --toggle-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  --reset-del-key-background: hsl(225, 21%, 49%);
  --reset-del-key-shadow: hsl(224, 28%, 35%);
  --equalto-key-background-toggle: hsl(6, 63%, 50%);
  --equalto-key-shadow: hsl(6, 70%, 34%);
  --op-key-background: hsl(30, 25%, 89%);
  --op-key-shadow: hsl(28, 16%, 65%);

  --op-text: hsl(221, 14%, 31%);
  --reset-del-text: hsl(0, 0%, 100%);
  --equalto-text: hsl(0, 0%, 100%);
  --heading-text: hsl(0, 0%, 100%);
}
body {
  background: var(--main-background);
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Spartan', sans-serif;
  width: 35vw;
  /*height: 75vh;
  background: black;*/
  padding: 12px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading p{
  color: var(--heading-text);
  font-size: 1.4vmax;
}

.switch-field {
  display: flex;
}
.switch-field input {
  position: absolute !important;
  height: 0;
	width: 0;
	border: 0;
	overflow: hidden;
}
.switch-field label {
	background-color: var(--toggle-keypad-background);
	padding: 0vh 0.8vw;
	transition: all 0.1s ease-in-out;
}
.switch-field label:hover {
	cursor: pointer;
}
.switch-field input:checked + label {
	background-color: var(--equalto-key-background-toggle);
}
.switch-field label:first-of-type {
	border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.switch-field label:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.display input {
  padding: 2vh;
  background: var(--screen-background);
  border-style: none;
  border-radius: 8px;
  color: var(--heading-text);
  font-family: 'Spartan', sans-serif;
  font-size: 5vmin;
  width: 100%;
  height: 100%;
}
.buttons-container {
  margin-top: 4vmin;
  border-radius: 5px;
  padding: 2vmin;
  height: 50vh;
  background: var(--toggle-keypad-background);
  display: grid;
  column-gap: 2.5vmin;
  row-gap: 2.5vmin;
  grid-template-rows: repeat(5,minmax(0,1fr));
  grid-template-columns: repeat(4,minmax(0,1fr));
}
.reset {
  grid-column: 1/3;
}
.equalto {
  grid-column: 3/5;
}
button {
  padding-top: 0.8vh;
  font-family: 'Spartan';
  font-weight: bold;
  border-radius: 10px;
  border-style: none;
}
.op {
  font-size: 2vmax;
  background: var(--op-key-background);
  color: var(--op-text);
  box-shadow: 0 0.2vmax 0 0 var(--op-key-shadow);
}
.reset, .delete {
  text-transform: uppercase;
  color: var(--reset-del-text);
  background: var(--reset-del-key-background);
  box-shadow: 0 0.2vmax 0 0 var(--reset-del-key-shadow);
}

.equalto {
  color: var(--equalto-text);
  background: var(--equalto-key-background-toggle);
  box-shadow: 0 0.2vmax 0 0 var(--equalto-key-shadow);
}
